@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* universal selector */
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Poppins", serif;
}
/* body section  */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(244, 241, 241);
    position: relative;
}
/* main profile section */
.Profile{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    position: relative;
    box-shadow: 5px 5px rgb(122, 121, 121);
    background-color: rgb(244, 241, 241);
}
.clor{
    width: 100%;
    height: 30%;
    background-color: rgb(87, 87, 228);
    position: absolute;
    top:0;
    z-index: 0;
    border-radius:10px 10px 0px 0px;
}
/* image section */
.image-ragu{
    padding: 10px;
    z-index: 1; 
}
.image--ragu{
    padding: 2px;
    background-color: white;
}
.image-ragu img{
    height: 150px;
    width: 150px;
    border: 2.5px solid rgb(56, 154, 252);
    border-radius: 50%;

}
/* name and role section  */
.name{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display:flex;
}
.name p{
   text-align: center;
   font-weight: 600;
   font-size: large;
}
/* socila media section */
.socilmedia{
    margin-top: 10px; 
}
.socilmedia-icons{
    display: flex;
    gap :20px;
}
.socilmedia-icons li{
    font-size: x-large;
    cursor: pointer;
    list-style-type: none;
}
.socilmedia-icons a{
  color: black;
  text-decoration: none;
}
.socilmedia-icons a i{
    padding: 0;
    padding: 10px;
    border-radius: 50%;
}
/* sontact section  */
.Profile .contact{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 10px;
   
}  
.hire,.Resume{
    padding: 5px 10px   ;
    background-color: rgb(87, 87, 228);
    border: 1px solid black;
    border-radius: 20px;
    transition:  linear 0.5s;
    
}
.Hireme,
.download{
    text-decoration: none;
    color: white;
    font-weight: 600;  
    font-size: medium;
}
/* animation effect section  */
.hire:hover{
    transform: scale(1.05, 1.05); 
} 
.Resume:hover{
    transform: scale(1.05, 1.05); 
}
.whatsapp{
    background-color: rgb(76, 219, 28);
    color: white;
    transition:  linear 0.2s;
}
.gmail{
    background-color: rgb(236, 63, 63);
    color: white;
    transition:  linear 0.5s;
}
.linkedin{
    background-color: #0965C1;
    color: white;
    transition:  linear 0.5s;
}
.insta{
    background-image:linear-gradient(to bottom left ,rgb(176, 21, 238),rgb(234, 72, 243),rgb(213, 227, 22));
    color: white;
    transition:  linear 0.5s;
}

.whatsapp:hover{
    transform: scale(1.1, 1.1); 
    
}
.insta:hover{
    transform: scale(1.1, 1.1); 
    
}
.linkedin:hover{
    transform: scale(1.1, 1.1); 
    
}
.gmail:hover{
    transform: scale(1.1, 1.1); 
    
}

/* aboutme */
/* .slideing_buttons{
    background-color: rgb(244, 241, 241);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 2px solid orange;
    padding: 5px;
    margin:  10px  0px;

}
.about-me_btn{
    padding: 3px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: small;
    
}
.skills-btn{
    padding: 3px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: small;
}
.achivements-btn{
    padding: 3px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: small;
}
.aboutme{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-me{
    width: 50%;
}
.about-me__content{
    width: 50%;
    display: none;

}
.skills-list{
    display: none;
    list-style-type: none;
} */
